<%- include("partials/header.ejs") -%>
<!-- Add a background color and large text to the whole page -->
<div class="w3-sand w3-grayscale w3-large">

<!-- End page content -->
</div>
<%- include("partials/footer.ejs") -%>
